@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

.main {
  --clr-text-primary: #d9d4c6;
  --clr-text-primary-dimm: #d9d4c674;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 1000px;
}

.title {
  font-family: "Racing Sans One";
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
  margin: 0;
  color: var(--clr-text-primary);
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .title {
    font-size: 5rem;
  }
}

.subHeading {
  display: block;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 15px;
  text-transform: uppercase;
}

.mainBanner {
  z-index: 0;
  margin-top: -13.9rem;
}

.mainLogo {
  z-index: 1;
}

.columnsContainer {
  color: var(--clr-text-primary-dimm);

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: center;
}

.columnsContainer div:nth-child(1) {
  margin-top: 1rem;
  align-self: flex-start;

  flex-basis: 25%;
}
.columnsContainer div:nth-child(2) {
  margin-top: 5rem;
  flex-basis: 25%;
}
.columnsContainer div:nth-child(3) {
  align-self: flex-start;
  margin-top: 1rem;
  flex-basis: 25%;
}
