.menu {
  margin-top: 6rem;
  color: var(--clr-text-primary);
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0 10rem;
  margin-bottom: -2rem;
}

.menu span:nth-child(2) {
  margin-left: 1rem;
}

.menuSpacer {
  flex-grow: 1;
}
